
@use '../../system';

.wrapper-animated-cont{
height: 100%;
}

.principal{
   position: relative;
   display: flex;
   width: 100%;
   height: 100%;
}

.icons-cont{
   background-color: system.$light-color;
   border-radius: 7px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   z-index: 500;
}

.icons{
   position: relative;
   z-index: 1000;
}

.profile-pic{
   padding-bottom: 4px;
   width: 56px;
   margin:0 auto;
}

.sub-menu-cont{
   position: relative;
   letter-spacing: -.032em;
   max-width: 100%;
   width: 100%;
   z-index: 400;
}