.wrapper{
    width: 52px;
    height: 45px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    & :hover {
        background-color: #e3e3e3;
    }
    
}

.icon-wrapper{
    width: 80%;
    background-color: tomato;
    display: flex;
    justify-content: center;
}