.wrapper{
    width: 52px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    &:hover,:focus {
        background-color: #e3e3e3;
    }
    
}

.icon-wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
}
