.wrapper{
    width: 52px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.selected{
    background-color: red;
}

.icon-wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
}
