.app-wrapper {
  max-width: 430px;
  max-height: 932px;
  min-height: 100%;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.content {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 7px;
  z-index: 20;
  margin: 4px;
  height: 100%;
}
