.nav {
  max-width: 1024px;
  margin: auto;
  background-color: #111111;
  padding: 8px;
  border-radius: 8px;
}

.logo-img {
  width: 48px;
  height: 48px;
  background-color: #404040;
  border-radius: 8px; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.content {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100vw;
  max-width: 1024px;
  margin: auto;
  height: 100vh;
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid #fff;
}

