.nav {
  max-width: 1024px;
  margin: auto;
  background-color: tomato;
  padding: 8px;
}

.logo-img {
  width: 48px;
  height: 48px;
  background-color: yellowgreen;
}

.logo {
  
}

.content {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100vw;
  max-width: 1024px;
  margin: auto;
  height: 100vh;
  background-color: rgb(179, 224, 254);
}

